$primary: #A953A0;
$secondary: #F4F4F4;
$success:  #7D7D7D;
$info: #4D4D4D;
$warning: #2D2D2D;
$danger: #03FDAD;
$light: #FFFFFF;
$dark: #1F2033;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);

// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
@import "custom";
@import "../node_modules/bootstrap/scss/bootstrap.scss";